:root {
	--header-image: url('https://dappercat.neocities.org/media/DapperCats_Corner_Logo_alpha_V2.png');
	--body-bg-wave: url('https://dappercat.neocities.org/media/wave_loop.gif');
	--body-bg-image-alt: url('https://sadhost.neocities.org/images/tiles/purplesky.gif');
	
	/*colors*/
	--yale-blue: #043565;
	--platinum: #e0e0e2;
	
}

#body-background {
	background-color: var(--yale-blue);
	color: var(--platinum);
}

main {
	max-width: 1660px;
}

h2 {
	text-decoration: underline;
}

.demo-container{
	display: flex;
	justify-content: center;
	margin-bottom: 5px;
}

.demo-body{     
	position: relative;
	color: var(--platinum);
	background-color: #171b25;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: auto;
	margin-bottom: 0.5%;
	padding: 0 10px;
}

.github-button {
	display: flex;
	justify-content: center;
	margin-bottom: 5px;
}
.demo-gif {
	max-height: 300px;
}