:root {
	--header-image: url('https://dappercat.neocities.org/media/DapperCats_Corner_Logo_alpha_V2.png');
	--body-bg-wave: url('https://dappercat.neocities.org/media/wave_loop.gif');
	--body-bg-image-alt: url('https://sadhost.neocities.org/images/tiles/purplesky.gif');
	
	/*colors*/
	--yale-blue: #043565;
	--platinum: #e0e0e2;
	
}

#body-background {
	background-color: var(--yale-blue);
	color: var(--platinum);
}